
body{
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

#header {
    background-image: url(/images/manta.png);
    background-size: cover;
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   
}

#title-header {
    background: #495D76;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    margin: 60px auto 10px auto;
}

#desc-header {
    background: #3D799F;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
    width: 500px;
    border-radius: 10px;
}


#title-act {
    margin: 20px 0;
    padding: 20px;
    height: 50px;
    grid-column: 1 / span 3;
   
}

.activities-container {
    background: linear-gradient(#005C9B, #6E93B4);
    display: flex;
    justify-content: center;
    padding: 10px 0;
   
}

.activities {
    max-width: 960px;
    display: grid;
    text-align: center;
    padding: 0 80px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 3rem;
   
}

.action {
    margin-bottom: 30px;
}

#anggie-img {
    width: 180px;
    height: 250px;
    border-radius: 10px;
}


.card {
    width: 400px;
    height: 250px;
    margin: 40px auto 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #95afc9;
    color: #3b345a;
    border-bottom: 6px solid #29176e; 
    border-radius: 10px;
}

#desc-card {
    margin: 30px 10px;
}

.btn {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 3em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: #29176e;
    background-color: #8c83b4;
    margin-top: 5px;
   }
   
   .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(233, 216, 69, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(145, 172, 26, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #ffffff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }